Repository Serkels/serkels.eu, changes with the labels that .github/labeler.yml gives for each.
All labels: :construction_worker: CI, :jar: api, :lipstick: ui, :memo: documentation, :rocket: api, :rocket: www, :test_tube: e2e, :scroll: domain, scope: admin, scope: auth, scope: bookmark, scope: category, scope: config, scope: core, scope: exchange, scope: forum, scope: inbox, scope: notification, scope: opportunities, scope: profile, scope: trpc, scope: partner, scope: studient

feat(notification): marck add profile as read (#1786)
  apps/www/app/(main)/door/[code]/(private)/notifications/List.tsx
  apps/www/components/button/MarkAsRead.tsx
  packages/@1/modules/notification/ui/src/card/ProfileAdded.tsx
Labels: :lipstick: ui, :rocket: www, scope: notification

refactor(notification): exchange completed use MarkAsRead button
  apps/www/app/(main)/door/[code]/(private)/notifications/ExchangeCompletedMessage.tsx
  apps/www/app/(main)/door/[code]/(private)/notifications/ExchangeNewMessage.tsx
  apps/www/app/(main)/door/[code]/(private)/notifications/List.tsx
  apps/www/app/(main)/door/[code]/(private)/notifications/select_exchange_message.tsx
  packages/@1/modules/notification/api/src/find.ts
  packages/@1/modules/notification/domain/package.json
  packages/@1/modules/notification/domain/src/ExchangeNotification.ts
  packages/@1/modules/notification/domain/src/ProfileNotification.ts
  packages/@1/modules/notification/domain/src/index.ts
  packages/@1/modules/notification/ui/src/card/ExchangeCompletedMessage.tsx
  packages/@1/modules/notification/ui/src/card/ExchangeNewMessage.tsx
  packages/@1/modules/notification/ui/src/card/atom.ts
  packages/@1/modules/profile/domain/src/AvatarProfile.ts
  packages/@1/modules/profile/domain/src/index.ts
  pnpm-lock.yaml
Labels: :jar: api, :lipstick: ui, :rocket: www, :scroll: domain, scope: notification, scope: profile

refactor(notification): exchange completed use MarkAsRead button (#1788)
  apps/www/app/(main)/door/[code]/(private)/notifications/ExchangeCompletedMessage.tsx
  apps/www/app/(main)/door/[code]/(private)/notifications/ExchangeNewMessage.tsx
  apps/www/app/(main)/door/[code]/(private)/notifications/List.tsx
  apps/www/app/(main)/door/[code]/(private)/notifications/select_exchange_message.tsx
  packages/@1/modules/notification/api/src/find.ts
  packages/@1/modules/notification/domain/package.json
  packages/@1/modules/notification/domain/src/ExchangeNotification.ts
  packages/@1/modules/notification/domain/src/ProfileNotification.ts
  packages/@1/modules/notification/domain/src/index.ts
  packages/@1/modules/notification/ui/src/card/ExchangeCompletedMessage.tsx
  packages/@1/modules/notification/ui/src/card/ExchangeNewMessage.tsx
  packages/@1/modules/notification/ui/src/card/atom.ts
  packages/@1/modules/profile/domain/src/AvatarProfile.ts
  packages/@1/modules/profile/domain/src/index.ts
  pnpm-lock.yaml
Labels: :jar: api, :lipstick: ui, :rocket: www, :scroll: domain, scope: notification, scope: profile

chore: update workspace
  serkels.code-workspace
Labels: none

refactor(core): event emitter
  packages/@1/modules/core/package.json
  packages/@1/modules/exchange/api/src/me/inbox.ts
  packages/@1/modules/inbox/api/package.json
  packages/@1/modules/inbox/api/src/MessageEventEmitter.ts
  packages/@1/modules/inbox/api/src/send.ts
  packages/@1/modules/inbox/api/src/thread.ts
  pnpm-lock.yaml
Labels: :jar: api, scope: core, scope: exchange, scope: inbox

refactor(core): event emitter (2)
  packages/@1/modules/core/src/event.ts
  packages/@1/modules/exchange/api/src/channel/deal.ts
  packages/@1/modules/inbox/api/src/channel/message.ts
Labels: :jar: api, scope: core, scope: exchange, scope: inbox

feat: block a profile
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/page.tsx
  apps/www/app/(main)/door/[code]/(private)/inbox/[thread_id]/_client/Conversation_Form.tsx
  apps/www/app/(main)/door/[code]/(private)/inbox/[thread_id]/page.tsx
  apps/www/app/(main)/door/[code]/(public)/(about)/page.tsx
  apps/www/app/(main)/door/[code]/(public)/@navbar/_client/BlockProfile.tsx
  apps/www/app/(main)/door/[code]/(public)/@navbar/default.client.tsx
  apps/www/app/(main)/exchanges/_client/List.tsx
  apps/www/components/placeholder/BlockedProfile_Placeholder.tsx
  apps/www/widgets/inbox/BlockedProfileWarning.tsx
  packages/@1/infra/database/prisma/migrations/20240914030436_add_profile_blacklist/migration.sql
  packages/@1/infra/database/prisma/schema.prisma
  packages/@1/modules/exchange/api/src/find.ts
  packages/@1/modules/inbox/api/package.json
  packages/@1/modules/inbox/api/src/_send.ts
  packages/@1/modules/inbox/api/src/find/index.ts
  packages/@1/modules/inbox/api/src/index.ts
  packages/@1/modules/inbox/api/src/send/index.ts
  packages/@1/modules/inbox/api/src/thread.ts
  packages/@1/modules/inbox/api/src/thread/messages/index.ts
  packages/@1/modules/inbox/domain/src/select.ts
  packages/@1/modules/profile/api/src/me.ts
  packages/@1/modules/profile/api/src/me/blacklist/index.ts
  packages/@1/modules/trpc/src/index.ts
Labels: :jar: api, :rocket: www, :scroll: domain, scope: exchange, scope: inbox, scope: profile, scope: trpc

feat: block a profile (#1789)
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/page.tsx
  apps/www/app/(main)/door/[code]/(private)/inbox/[thread_id]/_client/Conversation_Form.tsx
  apps/www/app/(main)/door/[code]/(private)/inbox/[thread_id]/page.tsx
  apps/www/app/(main)/door/[code]/(public)/(about)/page.tsx
  apps/www/app/(main)/door/[code]/(public)/@navbar/_client/BlockProfile.tsx
  apps/www/app/(main)/door/[code]/(public)/@navbar/default.client.tsx
  apps/www/app/(main)/exchanges/_client/List.tsx
  apps/www/components/placeholder/BlockedProfile_Placeholder.tsx
  apps/www/widgets/inbox/BlockedProfileWarning.tsx
  packages/@1/infra/database/prisma/migrations/20240914030436_add_profile_blacklist/migration.sql
  packages/@1/infra/database/prisma/schema.prisma
  packages/@1/modules/exchange/api/src/find.ts
  packages/@1/modules/inbox/api/package.json
  packages/@1/modules/inbox/api/src/_send.ts
  packages/@1/modules/inbox/api/src/find/index.ts
  packages/@1/modules/inbox/api/src/index.ts
  packages/@1/modules/inbox/api/src/send/index.ts
  packages/@1/modules/inbox/api/src/thread.ts
  packages/@1/modules/inbox/api/src/thread/messages/index.ts
  packages/@1/modules/inbox/domain/src/select.ts
  packages/@1/modules/profile/api/src/me.ts
  packages/@1/modules/profile/api/src/me/blacklist/index.ts
  packages/@1/modules/trpc/src/index.ts
Labels: :jar: api, :rocket: www, :scroll: domain, scope: exchange, scope: inbox, scope: profile, scope: trpc

feat(exchange) block interaction on blocked profile
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/_client/Conversation_Form.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/_client/StateMessageOutlet.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/page.tsx
Labels: :rocket: www

feat(exchange) block interaction on blocked profile (#1794)
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/_client/Conversation_Form.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/_client/StateMessageOutlet.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/page.tsx
Labels: :rocket: www

test(exchange): add find system tests
  packages/@1/infra/database/package.json
  packages/@1/infra/database/seeding/category/masterclass.ts
  packages/@1/infra/database/seeding/exchange/slap.ts
  packages/@1/infra/database/seeding/index.ts
  packages/@1/infra/database/seeding/studient/douglas.ts
  packages/@1/infra/database/seeding/studient/joedart.ts
  packages/@1/infra/database/seeding/studient/johan.ts
  packages/@1/modules/exchange/api/src/find.ts
  packages/@1/modules/exchange/api/src/public/__snapshots__/find.e2e.test.ts.snap
  packages/@1/modules/exchange/api/src/public/find.e2e.test.ts
  packages/@1/modules/exchange/api/src/public/find.ts
  packages/@1/modules/exchange/ui/src/aside/__snapshots__/TitleHeader.test.tsx.snap
  packages/@1/modules/forum/api/src/question/find/index.e2e.test.ts
  serkels.code-workspace
Labels: :jar: api, :lipstick: ui, scope: exchange, scope: forum

.github/labeler.yml:

":construction_worker: CI":
  - changed-files:
      - any-glob-to-any-file: ".github/**"
":jar: api":
  - changed-files:
      - any-glob-to-any-file: "packages/@1/modules/**/api/**/*"
":lipstick: ui":
  - changed-files:
      - any-glob-to-any-file: 
          - "packages/@1/ui/react/**/*"
          - "packages/@1/modules/**/ui/**/*"
":memo: documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
":rocket: api":
  - changed-files:
      - any-glob-to-any-file: "apps/api/**/*"
":rocket: www":
  - changed-files:
      - any-glob-to-any-file: "apps/www/**/*"
":test_tube: e2e":
  - changed-files:
      - any-glob-to-any-file: "apps/e2e/**/*"
":scroll: domain":
  - changed-files:
      - any-glob-to-any-file: "packages/@1/modules/**/domain/**/*"
"scope: admin":
  - changed-files:
      - any-glob-to-any-file: "packages/@1/modules/admin/**/*"
"scope: auth":
  - changed-files:
      - any-glob-to-any-file: "packages/@1/modules/auth/**/*"
"scope: bookmark":
  - changed-files:
      - any-glob-to-any-file: "packages/@1/modules/bookmark/**/*"
"scope: category":
  - changed-files:
      - any-glob-to-any-file: "packages/@1/modules/category/**/*"
"scope: config":
  - changed-files:
      - any-glob-to-any-file: "packages/@1/config/**/*"
"scope: core":
  - changed-files:
      - any-glob-to-any-file: "packages/@1/modules/core/**/*"
"scope: exchange":
  - changed-files:
      - any-glob-to-any-file: "packages/@1/modules/exchange/**/*"
"scope: forum":
  - changed-files:
      - any-glob-to-any-file: "packages/@1/modules/forum/**/*"
"scope: inbox":
  - changed-files:
      - any-glob-to-any-file: "packages/@1/modules/inbox/**/*"
"scope: notification":
  - changed-files:
      - any-glob-to-any-file: "packages/@1/modules/notification/**/*"
"scope: opportunities":
  - changed-files:
      - any-glob-to-any-file: "packages/@1/modules/opportunities/**/*"
"scope: profile":
  - changed-files:
      - any-glob-to-any-file: "packages/@1/modules/profile/**/*"
"scope: trpc":
  - changed-files:
      - any-glob-to-any-file:
          - "packages/@1/modules/trpc/**/*"
          - "packages/@1/infra/trpc/**/*"
"scope: partner":
  - changed-files:
      - any-glob-to-any-file: "packages/@1/modules/partner/**/*"
"scope: studient":
  - changed-files:
      - any-glob-to-any-file: "packages/@1/modules/studient/**/*"
