Repository Serkels/serkels.eu, pull requests merged in 2024-10, with the labels that each got.

#1880 refactor(trpc): allow shared calls to trpc routes
  .gitignore
  .prettierignore
  apps/api/src/index.ts
  apps/e2e/features/status/page.feature
  apps/www/app/(main)/(about)/status/@api_database/error.tsx
  apps/www/app/(main)/(about)/status/@api_database/loading.tsx
  apps/www/app/(main)/(about)/status/@api_database/page.tsx
  apps/www/app/(main)/(about)/status/@bff/page.tsx
  apps/www/app/(main)/(about)/status/@bff_database/error.tsx
  apps/www/app/(main)/(about)/status/@bff_database/loading.tsx
  apps/www/app/(main)/(about)/status/@bff_database/page.tsx
  apps/www/app/(main)/(about)/status/@bff_session/error.tsx
  apps/www/app/(main)/(about)/status/@bff_session/loading.tsx
  apps/www/app/(main)/(about)/status/@bff_session/page.tsx
  apps/www/app/(main)/(about)/status/layout.tsx
  apps/www/app/(main)/door/[code]/report/action.ts
  apps/www/app/api/trpc/[trpc]/route.ts
  apps/www/next.config.mjs
  apps/www/package.json
  apps/www/trpc/client.tsx
  packages/@1/infra/database/package.json
  packages/@1/infra/email/package.json
  packages/@1/infra/trpc/package.json
  packages/@1/infra/trpc/src/context.ts
  packages/@1/infra/trpc/src/health.ts
  packages/@1/infra/trpc/src/index.ts
  packages/@1/infra/trpc/src/next/route.ts
  packages/@1/infra/trpc/src/react-query/client.ts
  packages/@1/infra/trpc/src/react-query/server.ts
  packages/@1/modules/auth/next/package.json
  packages/@1/modules/auth/next/src/callbacks.ts
  packages/@1/modules/auth/next/src/trpc.ts
  packages/@1/modules/auth/next/tsconfig.json
  packages/@1/modules/bookmark/api/package.json
  packages/@1/modules/category/api/package.json
  packages/@1/modules/exchange/api/package.json
  packages/@1/modules/exchange/api/src/me/inbox.ts
  packages/@1/modules/forum/api/package.json
  packages/@1/modules/inbox/api/package.json
  packages/@1/modules/inbox/api/src/thread.ts
  packages/@1/modules/notification/api/package.json
  packages/@1/modules/opportunity/api/package.json
  packages/@1/modules/profile/api/package.json
  packages/@1/modules/profile/api/src/me.ts
  packages/@1/modules/trpc/package.json
  packages/@1/modules/trpc/src/context.ts
  packages/@1/modules/trpc/src/guards.ts
  packages/@1/modules/trpc/src/index.ts
  packages/@douglasduteil/nextauth...trpc.prisma/.gitignore
  packages/@douglasduteil/nextauth...trpc.prisma/package.json
  packages/@douglasduteil/nextauth...trpc.prisma/tsconfig.json
  pnpm-lock.yaml
  serkels.code-workspace
  turbo/generators/templates/1.module/[name]/api/package.json
Labels: scope: forum, scope: exchange, scope: auth, :recycle: refactor, scope: trpc, :jar: api, :rocket: www, scope: bookmark, scope: category, scope: inbox, scope: profile, :rocket: api, scope: notification, :test_tube: e2e

#1887 fix(menu): Owerflow not scrollable in filter menu
  apps/www/components/shell/AsideFilter.tsx
Labels: :rocket: www

#1816 fix(exchanges): Edit buttons are wild
  apps/www/components/Share_Button.tsx
  apps/www/widgets/exchanges/card/delete.button.tsx
  apps/www/widgets/exchanges/card/index.tsx
  apps/www/widgets/exchanges/card/share.tsx
  packages/@1/modules/exchange/ui/src/Card/Card_Idle.tsx
  packages/@1/modules/profile/ui/src/avatar.tsx
  packages/@1/ui/react/src/button/atom.ts
Labels: scope: exchange, :lipstick: ui, :rocket: www

#1894 perf(www): allow fast first print
  .github/workflows/e2e.yaml
  apps/e2e/cypress/support/e2e.ts
  apps/e2e/package.json
  apps/www/app/(auth)/layout.tsx
  apps/www/app/(home)/layout.tsx
  apps/www/app/(main)/exchanges/_client/List.tsx
  apps/www/app/(main)/exchanges/page.tsx
  apps/www/app/error.tsx
  apps/www/app/global-error.tsx
  apps/www/components/navbar/notification_indicator.client.tsx
  apps/www/trpc/client.tsx
  pnpm-lock.yaml
Labels: :zap: perf, :construction_worker: CI, :rocket: www, :test_tube: e2e

#1897 fix(auth): only use localhost on development env
  apps/www/.env
  apps/www/.env.development
Labels: :bug: bug, :rocket: www

#1888 feat(auth): change connexion panel layout
  apps/e2e/features/auth/signup.feature
  apps/www/app/(home)/LoginForm.tsx
Labels: :rocket: www, :test_tube: e2e

#1902 fix(opportunities): bookmark buttons were wild
  apps/www/widgets/opportunities/card/index.tsx
Labels: :rocket: www

#1905 bug(ui): weird avatar
  apps/www/app/(main)/opportunities/[slug]/page.tsx
Labels: :rocket: www

#1928 refactor(auth): move jwt functions
  apps/www/trpc/server.tsx
  apps/www/tsconfig.json
  packages/@1/modules/auth/next/src/callbacks.ts
  packages/@1/modules/auth/next/src/jwt.ts
  packages/@1/modules/auth/next/src/next-auth.d.ts
  packages/@1/modules/exchange/api/src/me/find.e2e.test.ts
  packages/@1/modules/exchange/api/src/public/by_id.e2e.test.ts
  packages/@1/modules/exchange/api/src/public/find.e2e.test.ts
  packages/@1/modules/forum/api/src/question/find/index.e2e.test.ts
  packages/@1/modules/opportunity/api/src/find/index.e2e.test.ts
  packages/@1/modules/profile/api/src/me/added_by/find.e2e.test.ts
  packages/@1/modules/trpc/package.json
  packages/@1/modules/trpc/src/VerifyNextAuthTokenUseCase.ts
  packages/@1/modules/trpc/src/guards.ts
  packages/@1/modules/trpc/src/index.ts
  packages/@1/modules/trpc/src/testing/index.ts
  packages/@douglasduteil/nextauth...trpc.prisma/src/jwt.ts
  serkels.code-workspace
Labels: scope: forum, scope: exchange, scope: auth, :recycle: refactor, scope: trpc, :jar: api, :rocket: www, scope: profile

#1932 feat(auth): do not allow profile to login if the user is not found
  apps/www/app/(home)/ConnectionPanel.tsx
  packages/@1/infra/trpc/src/auth.ts
  packages/@1/infra/trpc/src/index.ts
Labels: scope: trpc, :rocket: www

#1935 feat(partner): cannot respond to questions in discussions
  apps/www/app/(main)/forum/_client/List.tsx
  packages/@1/modules/forum/ui/src/QuestionCard/ResponseButtons.tsx
Labels: scope: forum, :lipstick: ui, :rocket: www

#1917 bug(auth): black color when typing on the input
  apps/www/app/(home)/LoginForm.tsx
Labels: :rocket: www

#1933 feat(partner): exchange action button are for student only
  apps/www/widgets/exchanges/card/actions.tsx
Labels: :rocket: www

#1936 fix(ui): weird avatar
  packages/@1/ui/react/src/avatar/atom.ts
Labels: :bug: bug, :lipstick: ui

#1937 fix(opportunity): max ratio
  packages/@1/modules/opportunity/ui/src/Article.tsx
Labels: :bug: bug, :lipstick: ui
