Repository Serkels/serkels.eu, pull requests merged in 2024-09, with the labels that each got.

#1741 feat(notification): say gg
  apps/www/app/(main)/door/[code]/(private)/notifications/ExchangeCompletedMessage.tsx
Labels: enhancement

#1761 fix(exchange): mobile ui review
  packages/@1/modules/exchange/ui/src/Card/Date.tsx
  packages/@1/modules/exchange/ui/src/Card/InfoBar.tsx
  packages/@1/modules/exchange/ui/src/Card/exchange_card.tsx
  packages/@1/modules/exchange/ui/src/OnlineOrLocation.tsx
  packages/@1/ui/react/src/card/atom.ts
Labels: scope: exchanges, :lipstick: ui

#1763 fix(main): mobile header
  apps/www/components/shell/AsideFilter.tsx
Labels: :bug: bug, :lipstick: ui

#1766 refactor(opportunity): remove formik
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/@navbar/default.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/new/page.tsx
  apps/www/app/(main)/door/[code]/(private)/opportunities/new/_client/CreateOpportunityForm.tsx
  apps/www/app/(main)/door/[code]/(private)/opportunities/new/page.client.tsx
  apps/www/app/(main)/door/[code]/(private)/opportunities/new/page.tsx
  apps/www/app/(main)/door/[code]/(private)/parameters/page.client.tsx
  packages/@1/modules/opportunity/api/src/create.ts
  packages/@1/modules/opportunity/api/src/index.ts
  packages/@1/modules/opportunity/domain/src/index.ts
  packages/@1/modules/opportunity/ui/package.json
  packages/@1/modules/opportunity/ui/src/form/create.tsx
  packages/@1/modules/opportunity/ui/src/form/edit.tsx
  packages/@1/modules/opportunity/ui/src/form/schema.tsx
  pnpm-lock.yaml
Labels: :recycle: refactor

#1769 fix(exchange): order by expiry date first
  packages/@1/modules/exchange/api/src/find.ts
  packages/@1/modules/exchange/api/src/index.ts
Labels: :bug: bug

#1770 bug(exchange): hide completed exchange from the public list
  packages/@1/infra/database/prisma/seed.ts
  packages/@1/modules/exchange/api/src/find.ts
Labels: :bug: bug

#1773 feat(exchange): should not be able to send message to a participant/owner of a expired exchange
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/_client/Conversation_Form.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/page.tsx
  packages/@1/modules/exchange/api/src/me/inbox.ts
  packages/@1/modules/exchange/domain/src/index.ts
  packages/@1/modules/inbox/ui/src/conversation/Conversation.tsx
  packages/@1/modules/inbox/ui/src/conversation/MessageForm.tsx
  packages/@1/ui/react/src/form/SendButton.tsx
Labels: :sparkles: new feature

#1775 ci(github): add labeller
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: 👷 CI

#1774 feat(exchange): header change with the exchange state
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/@navbar/default.tsx
  apps/www/trpc/server.tsx
  packages/@1/infra/database/prisma/seed/fixtures/students.ts
  packages/@1/modules/auth/api/src/index.e2e.test.ts
  packages/@1/modules/auth/next/src/config.ts
  packages/@1/modules/auth/next/src/next-auth.d.ts
  packages/@1/modules/auth/next/src/trpc.ts
  packages/@1/modules/bookmark/ui/package.json
  packages/@1/modules/bookmark/ui/prettier.config.js
  packages/@1/modules/core/package.json
  packages/@1/modules/core/src/date.ts
  packages/@1/modules/exchange/api/package.json
  packages/@1/modules/exchange/api/src/index.ts
  packages/@1/modules/exchange/api/src/public/by_id.e2e.test.ts
  packages/@1/modules/exchange/api/src/public/by_id.ts
  packages/@1/modules/exchange/api/tsconfig.json
  packages/@1/modules/exchange/domain/package.json
  packages/@1/modules/exchange/domain/src/index.ts
  packages/@1/modules/exchange/ui/package.json
  packages/@1/modules/exchange/ui/src/Card/Date.tsx
  packages/@1/modules/exchange/ui/src/aside/TitleHeader.test.tsx
  packages/@1/modules/exchange/ui/src/aside/TitleHeader.tsx
  packages/@1/modules/exchange/ui/src/aside/__snapshots__/TitleHeader.test.tsx.snap
  packages/@1/modules/exchange/ui/tsconfig.json
  packages/@1/modules/trpc/src/index.ts
  packages/@1/modules/trpc/src/trpc.ts
  packages/@1/ui/react/src/time/index.tsx
  packages/@douglasduteil/nextauth...trpc.prisma/src/jwt.ts
  packages/@douglasduteil/nextauth...trpc.prisma/src/trpc/guards.ts
  pnpm-lock.yaml
  serkels.code-workspace
Labels: enhancement, scope: exchange, scope: auth, :lipstick: ui, scope: core, scope: trpc, :jar: api, :rocket: www, :scroll: domain, scope: bookmark

#1776 bug(avatar): ensure to be a square
  packages/@1/ui/react/src/avatar/atom.ts
Labels: :lipstick: ui

#1777 bug(exchange): fields stay disable on successful submit
  packages/@1/modules/exchange/ui/src/form/new_exchange.tsx
Labels: scope: exchange, :lipstick: ui

#1778 feat(forum): allow search on profile name
  packages/@1/modules/forum/api/src/question.ts
Labels: scope: forum, :jar: api

#1779 test(database): allow in memory database testing
  .github/workflows/e2e.yaml
  apps/api/src/index.ts
  packages/@1/infra/database/index.ts
  packages/@1/infra/database/package.json
  packages/@1/infra/database/prisma/schema.prisma
  packages/@1/infra/database/testing/index.e2e.test.ts
  packages/@1/infra/database/testing/index.ts
  packages/@1/infra/database/tsconfig.json
  packages/@1/modules/auth/api/package.json
  packages/@1/modules/auth/api/src/index.ts
  packages/@1/modules/auth/next/package.json
  packages/@1/modules/auth/next/src/trpc.ts
  packages/@1/modules/bookmark/api/package.json
  packages/@1/modules/category/api/package.json
  packages/@1/modules/category/api/src/index.ts
  packages/@1/modules/category/api/tsconfig.json
  packages/@1/modules/exchange/api/package.json
  packages/@1/modules/exchange/api/src/find.ts
  packages/@1/modules/exchange/api/src/index.ts
  packages/@1/modules/exchange/api/src/me/action.ts
  packages/@1/modules/exchange/api/src/me/find.ts
  packages/@1/modules/exchange/api/src/me/inbox.ts
  packages/@1/modules/exchange/api/src/me/thread_update.ts
  packages/@1/modules/exchange/api/tsconfig.json
  packages/@1/modules/forum/api/package.json
  packages/@1/modules/forum/api/src/answers.ts
  packages/@1/modules/forum/api/src/question.ts
  packages/@1/modules/forum/api/src/question/find/__snapshots__/index.e2e.test.ts.snap
  packages/@1/modules/forum/api/src/question/find/index.e2e.test.ts
  packages/@1/modules/forum/api/src/question/find/index.ts
  packages/@1/modules/forum/api/tsconfig.json
  packages/@1/modules/inbox/api/package.json
  packages/@1/modules/inbox/api/src/index.ts
  packages/@1/modules/inbox/api/src/send.ts
  packages/@1/modules/inbox/api/tsconfig.json
  packages/@1/modules/notification/api/package.json
  packages/@1/modules/notification/api/src/count_unread.ts
  packages/@1/modules/notification/api/src/find.ts
  packages/@1/modules/notification/api/tsconfig.json
  packages/@1/modules/opportunity/api/package.json
  packages/@1/modules/opportunity/api/src/create.ts
  packages/@1/modules/opportunity/api/src/find.ts
  packages/@1/modules/opportunity/api/tsconfig.json
  packages/@1/modules/profile/api/package.json
  packages/@1/modules/profile/api/src/me.ts
  packages/@1/modules/profile/api/src/partner.ts
  packages/@1/modules/profile/api/src/student.ts
  packages/@1/modules/profile/api/tsconfig.json
  packages/@1/modules/trpc/package.json
  packages/@1/modules/trpc/src/context.ts
  packages/@douglasduteil/nextauth...trpc.prisma/package.json
  pnpm-lock.yaml
  turbo/generators/templates/1.module/[name]/api/package.json
Labels: scope: forum, scope: exchange, scope: auth, :construction_worker: CI, scope: trpc, :jar: api, scope: bookmark, scope: category, scope: inbox, scope: profile, :rocket: api

#1780 feat(notification): notify user of new contact
  apps/www/app/(main)/door/[code]/(private)/notifications/List.tsx
  packages/@1/infra/database/prisma/migrations/20240913152643_add_profile_added_notification/migration.sql
  packages/@1/infra/database/prisma/schema.prisma
  packages/@1/infra/database/prisma/seed.ts
  packages/@1/modules/core/src/date.ts
  packages/@1/modules/notification/api/src/find.ts
  packages/@1/modules/notification/domain/package.json
  packages/@1/modules/notification/domain/src/Notification.ts
  packages/@1/modules/notification/domain/src/ProfileNotification.ts
  packages/@1/modules/notification/domain/src/index.ts
  packages/@1/modules/notification/ui/package.json
  packages/@1/modules/notification/ui/src/DotIndicator.tsx
  packages/@1/modules/notification/ui/src/card/ProfileAdded.tsx
  packages/@1/modules/notification/ui/src/card/atom.ts
  packages/@1/modules/profile/api/src/me.ts
  packages/@1/modules/profile/api/src/me/toggle/index.ts
  pnpm-lock.yaml
Labels: :lipstick: ui, scope: core, :jar: api, :rocket: www, :scroll: domain, scope: profile

#1781 fix(exchange): popup when not connected
  apps/www/widgets/exchanges/card/login.tsx
  packages/@1/modules/exchange/ui/src/ask/modal.tsx
Labels: scope: exchange, :lipstick: ui, :rocket: www

#1786 feat(notification): marck add profile as read
  apps/www/app/(main)/door/[code]/(private)/notifications/List.tsx
  apps/www/components/button/MarkAsRead.tsx
  packages/@1/modules/notification/ui/src/card/ProfileAdded.tsx
Labels: :sparkles: new feature, :lipstick: ui, :rocket: www, scope: notification

#1788 refactor(notification): exchange completed use MarkAsRead button
  apps/www/app/(main)/door/[code]/(private)/notifications/ExchangeCompletedMessage.tsx
  apps/www/app/(main)/door/[code]/(private)/notifications/ExchangeNewMessage.tsx
  apps/www/app/(main)/door/[code]/(private)/notifications/List.tsx
  apps/www/app/(main)/door/[code]/(private)/notifications/select_exchange_message.tsx
  packages/@1/modules/notification/api/src/find.ts
  packages/@1/modules/notification/domain/package.json
  packages/@1/modules/notification/domain/src/ExchangeNotification.ts
  packages/@1/modules/notification/domain/src/ProfileNotification.ts
  packages/@1/modules/notification/domain/src/index.ts
  packages/@1/modules/notification/ui/src/card/ExchangeCompletedMessage.tsx
  packages/@1/modules/notification/ui/src/card/ExchangeNewMessage.tsx
  packages/@1/modules/notification/ui/src/card/atom.ts
  packages/@1/modules/profile/domain/src/AvatarProfile.ts
  packages/@1/modules/profile/domain/src/index.ts
  pnpm-lock.yaml
Labels: :lipstick: ui, :jar: api, :rocket: www, :scroll: domain, scope: profile, scope: notification

#1789 feat: block a profile
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/page.tsx
  apps/www/app/(main)/door/[code]/(private)/inbox/[thread_id]/_client/Conversation_Form.tsx
  apps/www/app/(main)/door/[code]/(private)/inbox/[thread_id]/page.tsx
  apps/www/app/(main)/door/[code]/(public)/(about)/page.tsx
  apps/www/app/(main)/door/[code]/(public)/@navbar/_client/BlockProfile.tsx
  apps/www/app/(main)/door/[code]/(public)/@navbar/default.client.tsx
  apps/www/app/(main)/exchanges/_client/List.tsx
  apps/www/components/placeholder/BlockedProfile_Placeholder.tsx
  apps/www/widgets/inbox/BlockedProfileWarning.tsx
  packages/@1/infra/database/prisma/migrations/20240914030436_add_profile_blacklist/migration.sql
  packages/@1/infra/database/prisma/schema.prisma
  packages/@1/modules/exchange/api/src/find.ts
  packages/@1/modules/inbox/api/package.json
  packages/@1/modules/inbox/api/src/_send.ts
  packages/@1/modules/inbox/api/src/find/index.ts
  packages/@1/modules/inbox/api/src/index.ts
  packages/@1/modules/inbox/api/src/send/index.ts
  packages/@1/modules/inbox/api/src/thread.ts
  packages/@1/modules/inbox/api/src/thread/messages/index.ts
  packages/@1/modules/inbox/domain/src/select.ts
  packages/@1/modules/profile/api/src/me.ts
  packages/@1/modules/profile/api/src/me/blacklist/index.ts
  packages/@1/modules/trpc/src/index.ts
Labels: scope: exchange, :sparkles: new feature, scope: trpc, :jar: api, :rocket: www, :scroll: domain, scope: inbox, scope: profile

#1794 feat(exchange) block interaction on blocked profile
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/_client/Conversation_Form.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/_client/StateMessageOutlet.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/page.tsx
Labels: :sparkles: new feature, :rocket: www

#1795 test(exchange): add find system tests
  packages/@1/infra/database/package.json
  packages/@1/infra/database/seeding/category/masterclass.ts
  packages/@1/infra/database/seeding/exchange/slap.ts
  packages/@1/infra/database/seeding/index.ts
  packages/@1/infra/database/seeding/studient/douglas.ts
  packages/@1/infra/database/seeding/studient/joedart.ts
  packages/@1/infra/database/seeding/studient/johan.ts
  packages/@1/modules/exchange/api/src/find.ts
  packages/@1/modules/exchange/api/src/public/__snapshots__/find.e2e.test.ts.snap
  packages/@1/modules/exchange/api/src/public/find.e2e.test.ts
  packages/@1/modules/exchange/api/src/public/find.ts
  packages/@1/modules/exchange/ui/src/aside/__snapshots__/TitleHeader.test.tsx.snap
  packages/@1/modules/forum/api/src/question/find/index.e2e.test.ts
  serkels.code-workspace
Labels: scope: forum, scope: exchange, :lipstick: ui, :jar: api

#1782 fix(inbox):conversation typo
  CONTRIBUTING.md
  packages/@1/modules/inbox/ui/src/conversation/Conversation.tsx
  packages/@1/modules/inbox/ui/src/conversation/MessageForm.test.tsx
  packages/@1/modules/inbox/ui/src/conversation/MessageForm.tsx
Labels: :memo: documentation, :lipstick: ui, :rocket: www, scope: inbox

#1796 feat(exchange): hide blocked exchanges
  apps/www/app/(main)/door/[code]/(public)/@navbar/_client/Follow.tsx
  apps/www/app/(main)/exchanges/_client/List.tsx
  apps/www/app/(main)/exchanges/page.tsx
  apps/www/components/placeholder/BlockedProfile_Placeholder.tsx
  packages/@1/infra/database/seeding/category/masterclass.ts
  packages/@1/infra/database/seeding/exchange/slap.ts
  packages/@1/infra/database/seeding/studient/douglas.ts
  packages/@1/infra/database/seeding/studient/joedart.ts
  packages/@1/infra/database/seeding/studient/johan.ts
  packages/@1/modules/exchange/api/src/find.ts
  packages/@1/modules/exchange/api/src/index.ts
  packages/@1/modules/exchange/api/src/public/__snapshots__/by_id.e2e.test.ts.snap
  packages/@1/modules/exchange/api/src/public/__snapshots__/find.e2e.test.ts.snap
  packages/@1/modules/exchange/api/src/public/by_id.e2e.test.ts
  packages/@1/modules/exchange/api/src/public/by_id.ts
  packages/@1/modules/exchange/api/src/public/find.e2e.test.ts
  packages/@1/modules/exchange/api/src/public/find.ts
  packages/@1/modules/exchange/domain/src/index.ts
  packages/@1/modules/forum/api/src/question/find/__snapshots__/index.e2e.test.ts.snap
  packages/@1/modules/profile/ui/src/BlockedInfoMessage.tsx
Labels: scope: forum, scope: exchange, :sparkles: new feature, :lipstick: ui, :jar: api, :rocket: www, :scroll: domain, scope: profile

#1797 feat(forum): hide blocked questions
  apps/www/app/(main)/forum/_client/List.tsx
  apps/www/app/(main)/forum/page.tsx
  packages/@1/infra/database/seeding/category/film.ts
  packages/@1/infra/database/seeding/index.ts
  packages/@1/modules/exchange/api/src/public/__snapshots__/find.e2e.test.ts.snap
  packages/@1/modules/exchange/api/src/public/by_id.e2e.test.ts
  packages/@1/modules/exchange/api/src/public/by_id.ts
  packages/@1/modules/exchange/api/src/public/find.e2e.test.ts
  packages/@1/modules/exchange/api/src/public/find.ts
  packages/@1/modules/forum/api/src/question.ts
  packages/@1/modules/forum/api/src/question/find/__snapshots__/index.e2e.test.ts.snap
  packages/@1/modules/forum/api/src/question/find/index.e2e.test.ts
  packages/@1/modules/forum/api/src/question/find/index.ts
  packages/@1/modules/profile/ui/src/BlockedInfoMessage.tsx
  packages/@1/modules/trpc/src/index.ts
Labels: scope: forum, scope: exchange, :sparkles: new feature, :lipstick: ui, scope: trpc, :jar: api, :rocket: www, scope: profile

#1798 refactor(forum): use with_next_cursor utils
  apps/www/app/(main)/forum/_client/List.tsx
  packages/@1/modules/forum/api/src/question/find/__snapshots__/index.e2e.test.ts.snap
  packages/@1/modules/forum/api/src/question/find/index.ts
Labels: scope: forum, :recycle: refactor, :jar: api, :rocket: www

#1799 feat(exchange): archive an exchange
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/@navbar/_client/menu.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/@navbar/default.tsx
  packages/@1/infra/database/prisma/migrations/20240915171915_add_is_archived_exchange_for_studient/migration.sql
  packages/@1/infra/database/prisma/schema.prisma
  packages/@1/modules/exchange/api/src/me/__snapshots__/find.e2e.test.ts.snap
  packages/@1/modules/exchange/api/src/me/archive/index.ts
  packages/@1/modules/exchange/api/src/me/find.e2e.test.ts
  packages/@1/modules/exchange/api/src/me/find.ts
  packages/@1/modules/exchange/api/src/me/index.ts
  packages/@1/modules/exchange/ui/src/aside/TitleHeader.tsx
  packages/@1/ui/react/src/menu/index.tsx
Labels: scope: exchange, :sparkles: new feature, :lipstick: ui, :jar: api, :rocket: www

#1801 feat(exchange): auto remove from list after participant denied action
  packages/@1/infra/database/prisma/seed.ts
  packages/@1/infra/database/seeding/exchange/the_creator.ts
  packages/@1/infra/database/seeding/index.ts
  packages/@1/modules/exchange/api/src/me/__snapshots__/find.e2e.test.ts.snap
  packages/@1/modules/exchange/api/src/me/action.ts
  packages/@1/modules/exchange/api/src/me/find.e2e.test.ts
  packages/@1/modules/exchange/api/src/me/find.ts
Labels: scope: exchange, :sparkles: new feature, :jar: api

#1802 fix(exchanges): remove typo on conversation form
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/_client/Conversation_Form.tsx
Labels: :bug: bug, :rocket: www

#1803 feat(www): update main logo
  apps/www/app/not-found.tsx
  apps/www/components/placeholder/Serkels_Placeholder.tsx
  apps/www/components/shell/SerkelsLogo.tsx
  apps/www/public/serkels-noir.svg
Labels: :sparkles: new feature, :rocket: www

#1804 feat(www): move main layout menu burger
  apps/www/app/(home)/layout.tsx
  apps/www/app/(main)/navbar.tsx
  apps/www/components/burger/index.tsx
  apps/www/components/shell/AppSidebar.tsx
Labels: enhancement, :rocket: www

#1805 feat(www): add not connected placeholder
  apps/www/app/(main)/door/[code]/(private)/exchanges/layout.tsx
  apps/www/app/(main)/door/[code]/(private)/layout.tsx
  apps/www/app/(main)/door/[code]/(public)/layout.tsx
  apps/www/app/(main)/door/[code]/layout.tsx
  apps/www/app/(main)/forum/page.tsx
  apps/www/components/placeholder/NotConnected_Placeholder.tsx
  packages/@1/modules/trpc/src/trpc.ts
Labels: enhancement, scope: trpc, :rocket: www

#1806 feat(www): reorder studient aside navbar
  apps/www/components/navbar/aside_navbar.client.tsx
  apps/www/components/navbar/aside_navbar.tsx
Labels: :sparkles: new feature, :rocket: www

#1807 feat(www): update report icon
  apps/www/app/(main)/door/[code]/(public)/@navbar/_client/BlockProfile.tsx
  apps/www/app/(main)/door/[code]/(public)/@navbar/menu.tsx
  apps/www/app/(main)/opportunities/[slug]/page.tsx
  packages/@1/modules/exchange/ui/src/Card/Card_Idle.tsx
  packages/@1/modules/forum/ui/src/Answer/Card.tsx
  packages/@1/modules/forum/ui/src/QuestionCard/Header.tsx
  packages/@1/ui/react/src/icons/ExclamationMark.tsx
  packages/@1/ui/react/src/icons/index.ts
Labels: enhancement, scope: forum, scope: exchange, :lipstick: ui, :rocket: www

#1808 refactor(www): remove profile follower table
  apps/www/app/(main)/door/[code]/(public)/@header/AddedByCount.tsx
  apps/www/app/(main)/door/[code]/(public)/@header/CircleCount.tsx
  apps/www/app/(main)/door/[code]/(public)/@header/default.tsx
  apps/www/app/(main)/door/[code]/(public)/@navbar/_client/AddContact.tsx
  apps/www/app/(main)/door/[code]/(public)/@navbar/_client/Follow.tsx
  apps/www/app/(main)/door/[code]/(public)/@navbar/default.client.tsx
  apps/www/app/(main)/door/[code]/(public)/following/_client/List.tsx
  apps/www/app/(main)/door/[code]/(public)/following/page.tsx
  packages/@1/infra/database/prisma/migrations/20240916200919_remove_profile_followers/migration.sql
  packages/@1/infra/database/prisma/schema.prisma
  packages/@1/infra/database/prisma/seed.ts
  packages/@1/modules/exchange/api/src/public/find.ts
  packages/@1/modules/profile/api/src/index.ts
  packages/@1/modules/profile/api/src/me.ts
  packages/@1/modules/profile/api/src/me/added_by/__snapshots__/find.e2e.test.ts.snap
  packages/@1/modules/profile/api/src/me/added_by/find.e2e.test.ts
  packages/@1/modules/profile/api/src/me/added_by/index.ts
  packages/@1/modules/profile/domain/src/AvatarProfile.ts
Labels: scope: exchange, :recycle: refactor, :jar: api, :rocket: www, :scroll: domain, scope: profile

#1809 feat(partner): change about label
  apps/e2e/features/partner/about.feature
  apps/www/app/(main)/door/[code]/(public)/@header/default.tsx
  apps/www/app/(main)/door/[code]/(public)/@navbar/default.client.tsx
  packages/@1/infra/database/prisma/seed.ts
  serkels.code-workspace
Labels: :sparkles: new feature, :rocket: www, :test_tube: e2e

#1810 refactor(www): add inferInfiniteQueryObserverSuccessResult
  apps/www/app/(main)/door/[code]/(private)/notifications/List.tsx
  apps/www/app/(main)/door/[code]/(public)/following/_client/List.tsx
  apps/www/components/inferQueryResult.ts
Labels: :recycle: refactor, :rocket: www

#1811 fix(www): replace empty list placeholder
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/@navbar/_client/Infinite_Exchange_List.tsx
  apps/www/app/(main)/door/[code]/(private)/inbox/write_to/_client/Infinite_Contacts_List.tsx
  apps/www/app/(main)/door/[code]/(public)/contacts/_client/Infinite_Contacts_List.tsx
  apps/www/app/(main)/door/[code]/(public)/following/_client/List.tsx
  apps/www/package.json
  packages/@1/config/tailwindcss/package.json
  packages/@1/modules/bookmark/ui/package.json
  packages/@1/modules/category/ui/package.json
  packages/@1/modules/exchange/ui/package.json
  packages/@1/modules/forum/ui/package.json
  packages/@1/modules/inbox/ui/package.json
  packages/@1/modules/notification/ui/package.json
  packages/@1/modules/opportunity/ui/package.json
  packages/@1/modules/profile/api/src/me.ts
  packages/@1/modules/profile/ui/package.json
  packages/@1/ui/react/package.json
  packages/@1/ui/react/src/async/index.tsx
  packages/@1/ui/react/src/button/atom.ts
  packages/@douglasduteil/config/tailwindcss/package.json
  pnpm-lock.yaml
  turbo/generators/templates/1.module/[name]/ui/package.json
Labels: :bug: bug, scope: forum, scope: exchange, :lipstick: ui, :jar: api, :rocket: www, scope: bookmark, scope: category, scope: inbox, scope: profile, scope: notification, scope: config

#1783 feat(inbox): add to my circle in conversation
  apps/www/app/(main)/door/[code]/(private)/inbox/[thread_id]/page.tsx
  apps/www/components/button/AddToMyCircles.tsx
  apps/www/components/button/BackButton.tsx
  packages/@1/modules/inbox/ui/src/conversation/Conversation.tsx
  packages/@1/ui/react/src/avatar/atom.ts
Labels: :lipstick: ui, :rocket: www, scope: inbox

#1812 fix(inbox): multiline button cropping
  apps/e2e/features/studient/inbox.feature
  apps/www/app/(main)/door/[code]/(private)/inbox/@navbar/default.tsx
Labels: :rocket: www, :test_tube: e2e

#1814 fix(exchange): Exchange editing issue
  apps/www/app/(main)/door/[code]/(public)/history/page.tsx
  apps/www/app/(main)/door/[code]/(public)/proposals/page.tsx
Labels: :rocket: www

#1815 fix(toast): weird count was cuz weird dev
  apps/www/app/(main)/door/[code]/report/page.client.tsx
Labels: :rocket: www

#1818 feat(notifications):rework on notifications display
  apps/www/app/(main)/door/[code]/(private)/notifications/ExchangeNewParticipant.tsx
  apps/www/app/(main)/door/[code]/(private)/notifications/ForumNewAnswer.tsx
  apps/www/app/(main)/door/[code]/(private)/notifications/InboxNewMessage.tsx
  apps/www/app/(main)/door/[code]/(private)/notifications/List.tsx
  packages/@1/modules/notification/api/src/find.ts
  packages/@1/modules/notification/domain/src/ExchangeNotification.ts
  packages/@1/modules/notification/ui/src/card/ExchangeCompletedMessage.tsx
  packages/@1/modules/notification/ui/src/card/ExchangeNewMessage.tsx
  packages/@1/modules/notification/ui/src/card/ProfileAdded.tsx
  packages/@1/modules/notification/ui/src/card/atom.ts
  packages/@1/ui/react/src/card/atom.ts
Labels: :lipstick: ui, :jar: api, :rocket: www, :scroll: domain, scope: notification

#1819 refactor(opportunity): use maybe next auth
  apps/www/app/(main)/exchanges/@see_also/page.tsx
  apps/www/app/(main)/forum/@see_also/page.tsx
  apps/www/app/(main)/opportunities/[slug]/@see_also/context.tsx
  apps/www/app/(main)/opportunities/[slug]/@see_also/page.client.tsx
  apps/www/app/(main)/opportunities/[slug]/@see_also/page.tsx
  apps/www/app/(main)/opportunities/_client/List.tsx
  apps/www/app/(main)/opportunities/page.tsx
  apps/www/widgets/opportunities/card/index.tsx
  apps/www/widgets/opportunities/list/index.tsx
  packages/@1/infra/database/seeding/index.ts
  packages/@1/infra/database/seeding/opportunity/concert_20240915.ts
  packages/@1/infra/database/seeding/partner/vulfpeck.ts
  packages/@1/modules/exchange/api/src/public/find.ts
  packages/@1/modules/forum/api/src/question/find/index.ts
  packages/@1/modules/opportunity/api/src/find.ts
  packages/@1/modules/opportunity/api/src/find/__snapshots__/index.e2e.test.ts.snap
  packages/@1/modules/opportunity/api/src/find/index.e2e.test.ts
  packages/@1/modules/opportunity/api/src/find/index.ts
  packages/@1/modules/opportunity/domain/src/index.ts
  packages/@1/modules/opportunity/ui/src/Card.tsx
  packages/@1/modules/opportunity/ui/src/InfiniteList.tsx
Labels: scope: forum, scope: exchange, :lipstick: ui, :recycle: refactor, :jar: api, :rocket: www, :scroll: domain

#1820 fix(see_also): recursive call
  apps/www/widgets/opportunities/list/index.tsx
  packages/@1/infra/database/prisma/seed.ts
Labels: :bug: bug, :rocket: www

#1817 feat(profile): move Envoyer un message privé to dropdown
  apps/www/app/(main)/door/[code]/(public)/@navbar/_client/AddContact.tsx
  apps/www/app/(main)/door/[code]/(public)/@navbar/_client/SendMessage.tsx
  apps/www/app/(main)/door/[code]/(public)/@navbar/default.client.tsx
  apps/www/app/(main)/door/[code]/(public)/@navbar/menu.tsx
Labels: :rocket: www

#1824 fix(home): replace Forum by Discussion
  apps/www/app/(home)/page.client.tsx
Labels: :bug: bug, :rocket: www

#1845 refactor(auth): extract the next-auth dependency
  apps/www/app/(auth)/confirm/[token]/verifing/page.client.tsx
  apps/www/app/(auth)/logout/page.tsx
  apps/www/app/(home)/ConnectionPanel.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/@navbar/_client/Infinite_Exchange_List.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/@navbar/_client/Infinite_Thread_List.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/_client/Infinite_Thread_Timeline.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/_client/StateMessageOutlet.tsx
  apps/www/app/(main)/door/[code]/(private)/inbox/@navbar/_client/Infinite_Thread_List.tsx
  apps/www/app/(main)/door/[code]/(private)/inbox/[thread_id]/_client/Infinite_Thread_Timeline.tsx
  apps/www/app/(main)/door/[code]/(private)/notifications/List.tsx
  apps/www/app/(main)/door/[code]/(private)/parameters/_client/Avatar_Editor.tsx
  apps/www/app/(main)/door/[code]/(private)/parameters/_client/Profile_Editor.tsx
  apps/www/app/(main)/door/[code]/(private)/welcome/page.client.tsx
  apps/www/app/(main)/door/[code]/(public)/@navbar/_client/AddContact.tsx
  apps/www/app/(main)/exchanges/[exchange_id]/Card.tsx
  apps/www/app/(main)/exchanges/_client/Exchanges_Filter.tsx
  apps/www/app/(main)/exchanges/_client/List.tsx
  apps/www/app/(main)/forum/_client/Create.tsx
  apps/www/app/(main)/forum/_client/Filter.tsx
  apps/www/app/(main)/forum/_client/List.tsx
  apps/www/app/api/auth/[...nextauth]/route.ts
  apps/www/app/error.tsx
  apps/www/app/layout.client.tsx
  apps/www/components/shell/AuthSessionProvider.tsx
  apps/www/package.json
  apps/www/trpc/client.tsx
  apps/www/widgets/exchanges/card/actions.tsx
  apps/www/widgets/exchanges/card/bookmark.tsx
  apps/www/widgets/opportunities/card/index.tsx
  packages/@1/modules/auth/next/src/index.ts
  packages/@1/modules/auth/next/src/react.ts
  packages/@1/modules/auth/next/src/route.ts
  pnpm-lock.yaml
Labels: scope: auth, :recycle: refactor, :rocket: www

#1865 ci(github): add turbo cache
  .github/actions/cache/action.yml
Labels: :zap: perf, :construction_worker: CI
