Repository Serkels/serkels.eu, pull requests merged in 2024-06, with the labels that each got.

#1314 chore(turbo): do not cache studio task
  package.json
  turbo.json
Labels: enhancement

#1312 chore(turbo): do not cache apps dev task
  turbo.json
Labels: enhancement

#1317 chore(tailwind): remove icon config
  packages/@douglasduteil/config/tailwindcss/icon.ts
  packages/@douglasduteil/config/tailwindcss/tailwind.config.js
Labels: enhancement

#1345 feat(exchange): update approved deal algo
  packages/@1/modules/exchange/api/src/me/action.ts
Labels: enhancement

#1347 chore(database): add region comment
  packages/@1/infra/database/prisma/schema.prisma
Labels: enhancement

#1353 fix(trpc): export next_auth_input_token (2)
  packages/@1/modules/inbox/api/src/thread.ts
Labels: bug

#1365 feat(exchange): do not display expired exchanges
  packages/@1/modules/exchange/api/src/index.ts
  packages/@1/modules/exchange/ui/src/Card/Date.tsx
Labels: enhancement

#1371 feat(exchange): remove completed exchanges from user list
  packages/@1/modules/exchange/api/src/me/find.ts
Labels: enhancement

#1380 chore(lock): ensure the same next version
  package.json
  pnpm-lock.yaml
Labels: bug

#1381 feat(exchange): use expired date as date in the inbox list
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/@navbar/_client/Infinite_Exchange_List.tsx
  packages/@1/modules/exchange/ui/src/Card/Date.tsx
Labels: enhancement

#1387 feat(exchange): rename seats to participants
  packages/@1/modules/exchange/ui/src/Card/Card_Deleting.tsx
  packages/@1/modules/exchange/ui/src/Card/Card_Idle.tsx
Labels: enhancement

#1388 feat(exchange): remove dispo word
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/@navbar/_client/Infinite_Exchange_List.tsx
Labels: enhancement

#1394 fix(exchange): ensure to liste flexible exchanges
  packages/@1/modules/exchange/api/src/index.ts
Labels: bug

#1406 fix(studient): empty my publication page
  apps/www/app/(main)/door/[code]/(private)/exchanges/mine/page.tsx
  packages/@1/modules/exchange/api/src/index.ts
  packages/@1/modules/exchange/api/src/me/index.ts
Labels: bug

#1407 fix(exchange): missing limite date label next to the date in the card
  packages/@1/modules/exchange/ui/src/Card/Date.tsx
Labels: bug

#1416 fix(exchange): put expired dates in danger
  packages/@1/modules/exchange/ui/src/Card/Date.tsx
Labels: bug

#1418 chore(prettier): tailwindPreserveWhitespace
  packages/@douglasduteil/config/tailwindcss/prettier.config.mjs
Labels: enhancement

#1417 fix(inbox): the message is read when you look at it
  apps/www/app/(main)/door/[code]/(private)/inbox/@navbar/_client/Infinite_Thread_List.tsx
  apps/www/app/(main)/door/[code]/(private)/inbox/[thread_id]/page.tsx
  packages/@1/modules/inbox/api/src/index.ts
  packages/@1/modules/inbox/api/src/thread.ts
Labels: bug

#1420 feat(about): add more space on mobile
  apps/www/app/(main)/(about)/faq/page.tsx
  apps/www/app/(main)/(about)/legal/page.tsx
  apps/www/app/(main)/(about)/who/page.tsx
Labels: enhancement

#1422 chore(app): desable sentry in dev
  apps/www/sentry.client.config.ts
  apps/www/sentry.edge.config.ts
  apps/www/sentry.server.config.ts
Labels: enhancement

#1409 fix(responsive): missing user navbar access
  apps/www/app/(home)/page.tsx
  apps/www/app/(main)/_header.tsx
  apps/www/app/(main)/door/[code]/layout.tsx
  apps/www/app/(main)/navbar.client.tsx
  apps/www/app/(main)/navbar.tsx
  apps/www/components/navbar/SubNav_Bookmarks.tsx
  apps/www/components/navbar/aside_navbar.client.tsx
  apps/www/components/navbar/aside_navbar.tsx
  packages/@1/ui/react/src/avatar/atom.ts
Labels: enhancement

#1430 feat(www): new message in exchange notification
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/_client/Infinite_Thread_Timeline.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/page.tsx
  apps/www/app/(main)/door/[code]/(private)/inbox/[thread_id]/_client/Infinite_Thread_Timeline.tsx
  apps/www/app/(main)/door/[code]/(private)/inbox/[thread_id]/page.tsx
  apps/www/app/(main)/door/[code]/(private)/notifications/List.tsx
  apps/www/app/(main)/door/[code]/(private)/notifications/page.tsx
  apps/www/app/(main)/navbar.tsx
  apps/www/components/navbar/aside_navbar.tsx
  apps/www/components/navbar/notification_indicator.client.tsx
  packages/@1/infra/database/prisma/migrations/20240614154920_add_exchange_message_notification/migration.sql
  packages/@1/infra/database/prisma/schema.prisma
  packages/@1/modules/inbox/api/src/MessageEventEmitter.ts
  packages/@1/modules/inbox/api/src/index.ts
  packages/@1/modules/inbox/api/src/send.ts
  packages/@1/modules/inbox/api/src/thread.ts
  packages/@1/modules/inbox/api/src/thread_update.ts
  packages/@1/modules/notification/api/src/find.ts
  packages/@1/modules/notification/api/src/index.ts
  packages/@1/modules/profile/api/package.json
  packages/@1/modules/profile/api/src/student.ts
  packages/@1/ui/react/src/time/index.tsx
  pnpm-lock.yaml
Labels: enhancement

#1432 fix(app): resolve confusing key and id
  apps/www/app/(main)/door/[code]/(private)/inbox/@navbar/_client/Infinite_Thread_List.tsx
Labels: bug

#1442 fix(www): carousel aligned with the connection panel
  apps/www/app/(home)/page.client.tsx
Labels: bug

#1445 perf(exchanges): better sync with notifications
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/@navbar/_client/Infinite_Exchange_List.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/@navbar/_client/Infinite_Thread_List.tsx
  apps/www/app/(main)/door/[code]/(private)/inbox/@navbar/_client/Infinite_Thread_List.tsx
  apps/www/app/layout.client.tsx
  apps/www/components/navbar/notification_indicator.client.tsx
  packages/@1/modules/exchange/api/src/me/find.ts
Labels: perf

#1446 fix(www): the spelling is wrong
  apps/e2e/features/forum/public.feature
  apps/www/app/(auth)/confirm/[token]/verifing/page.tsx
  apps/www/app/(auth)/signup/(state)/verifing/page.client.tsx
  apps/www/app/(auth)/signup/(state)/verifing/page.tsx
  apps/www/app/(auth)/signup/partner/page.tsx
  apps/www/app/(auth)/signup/student/page.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/_client/Conversation_Form.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/_client/Infinite_Thread_Timeline.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/layout.tsx
  apps/www/app/(main)/door/[code]/(private)/inbox/[thread_id]/_client/Conversation_Form.tsx
  apps/www/app/(main)/door/[code]/(private)/parameters/_client/Profile_Editor.tsx
  apps/www/app/(main)/door/[code]/(private)/parameters/_client/Student_Editor.tsx
  apps/www/app/(main)/door/[code]/(public)/(about)/page.tsx
  apps/www/app/(main)/door/[code]/(public)/@navbar/default.tsx
  apps/www/app/(main)/exchanges/_client/Exchanges_Filter.tsx
  apps/www/app/(main)/forum/_client/Filter.tsx
  apps/www/app/(main)/forum/_client/List.tsx
  apps/www/app/constants.tsx
  apps/www/components/Share_Button.tsx
  apps/www/components/avatar/index.tsx
  apps/www/package.json
  packages/@1/infra/database/prisma/seed.ts
  packages/@1/modules/exchange/ui/src/ask/sending.tsx
  packages/@1/modules/forum/ui/src/Answer/Card.tsx
  packages/@1/modules/forum/ui/src/Answer/Form.tsx
  packages/@1/modules/forum/ui/src/CreateCard/Form.tsx
  packages/@1/modules/forum/ui/src/CreateCard/Idle.tsx
  pnpm-lock.yaml
Labels: bug

#1452 fix(exchange): can't edit because wrong logic
  apps/www/widgets/exchanges/card/index.tsx
Labels: bug

#1453 feat(exchange): change common messages
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/_client/Infinite_Thread_Timeline.tsx
  apps/www/public/hourglass.svg
  packages/@1/config/tailwindcss/__delete__tailwind.config.js.old
  packages/@1/ui/react/src/icons/Exchange.tsx
Labels: enhancement

#1472 fix(ui): avoid avatar squeeze
  packages/@1/ui/react/src/avatar/atom.ts
Labels: bug

#1456 feat(exchange): add status message below action buttons
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/@navbar/_client/Infinite_Thread_List.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/_client/Conversation_Form.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/_client/Infinite_Thread_Timeline.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/_client/StateMessageOutlet.tsx
  apps/www/app/(main)/door/[code]/(private)/inbox/[thread_id]/_client/Conversation_Form.tsx
  apps/www/app/(main)/door/[code]/(private)/inbox/[thread_id]/_client/Infinite_Thread_Timeline.tsx
  packages/@1/modules/exchange/api/src/index.ts
  packages/@1/modules/exchange/api/src/me/action.ts
  packages/@1/modules/exchange/api/src/me/deal_update.ts
  packages/@1/modules/exchange/api/src/me/index.ts
  packages/@1/modules/inbox/api/src/send.ts
  packages/@1/modules/inbox/ui/src/conversation/Message.tsx
  packages/@1/modules/inbox/ui/src/conversation/ProfileMessages.tsx
  packages/@1/ui/react/package.json
  packages/@1/ui/react/src/form/SendButton.tsx
  packages/@1/ui/react/src/form/index.ts
  packages/@1/ui/react/src/form/useEnterToSubmit/index.tsx
Labels: enhancement

#1473 feat(inbox): smaller header on mobile
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/_client/Conversation_Form.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/page.tsx
  apps/www/app/(main)/door/[code]/(private)/inbox/[thread_id]/_client/Conversation_Form.tsx
  apps/www/app/(main)/door/[code]/(private)/inbox/[thread_id]/page.tsx
  packages/@1/ui/react/src/form/atom.ts
Labels: enhancement

#1474 fix(www): only use enter to send message on desktop
  apps/www/app/(main)/door/[code]/(private)/inbox/[thread_id]/_client/Conversation_Form.tsx
  apps/www/package.json
  pnpm-lock.yaml
Labels: bug

#1476 feat(app): add contextual menu
  apps/www/app/(main)/door/[code]/(public)/@header/default.tsx
  apps/www/app/(main)/door/[code]/(public)/@navbar/_client/AddContact.tsx
  apps/www/app/(main)/door/[code]/(public)/@navbar/default.client.tsx
  apps/www/app/(main)/door/[code]/(public)/@navbar/menu.tsx
  apps/www/app/(main)/door/[code]/(public)/layout.tsx
  packages/@1/ui/react/src/menu/atom.ts
  packages/@1/ui/react/src/menu/index.tsx
Labels: enhancement

#1478 feat(exchange): add description to be markdown
  apps/www/widgets/exchanges/card/index.tsx
  packages/@1/modules/exchange/ui/package.json
  packages/@1/modules/exchange/ui/src/Card/Card.tsx
  packages/@1/modules/exchange/ui/src/Card/Card_Idle.tsx
  pnpm-lock.yaml
Labels: enhancement

#1480 fix(app): use desc order for exchange history
  packages/@1/modules/exchange/api/src/index.ts
Labels: bug

#1482 fix(ui): remove time extra top margin
  packages/@1/ui/react/src/time/index.tsx
Labels: bug

#1483 fix(database): allow unedited questions
  packages/@1/infra/database/prisma/seed.ts
Labels: bug

#1486 feat(www): forum awnser notification
  apps/www/app/(main)/door/[code]/(private)/notifications/ForumNewAnswer.tsx
  apps/www/app/(main)/door/[code]/(private)/notifications/List.tsx
  apps/www/app/(main)/forum/_client/List.tsx
  apps/www/app/error.tsx
  apps/www/app/global-error.tsx
  apps/www/widgets/exchanges/card/share.tsx
  packages/@1/infra/database/prisma/migrations/20240620193459_add_forum_new_awnser_notification/migration.sql
  packages/@1/infra/database/prisma/schema.prisma
  packages/@1/modules/forum/api/src/answers.ts
  packages/@1/modules/notification/api/src/find.ts
Labels: enhancement

#1488 fix(www): share button use react aria
  apps/www/app/(main)/forum/_client/List.tsx
  apps/www/components/Share_Button.tsx
  packages/@1/modules/forum/ui/src/QuestionCard/context.tsx
  packages/@1/ui/react/src/aria/index.tsx
  packages/@1/ui/react/src/popover/index.tsx
Labels: bug
