Repository Serkels/serkels.eu, pull requests merged in 2024-11, with the labels that each got.

#1992 feat(profile): add some color to the counts
  apps/www/app/(main)/door/[code]/(public)/@header/AddedByCount.tsx
  apps/www/app/(main)/door/[code]/(public)/@header/CircleCount.tsx
Labels: :rocket: www

#1996 ci(github): run partner e2e tests
  .github/workflows/e2e.yaml
  apps/e2e/features/partner/about.feature
Labels: :construction_worker: CI, :test_tube: e2e

#1997 ci(github): run studient inbox e2e tests
  .github/workflows/e2e.yaml
  apps/e2e/features/studient_inbox/inbox.feature
Labels: :construction_worker: CI, :test_tube: e2e

#1998 fix(auth): missing relative on panel
  apps/www/app/(home)/LoginForm.tsx
Labels: :rocket: www

#2002 feat(moderation):add moderation page from commit 3ee72ae
  apps/www/app/(main)/(about)/moderation/content.md
  apps/www/app/(main)/(about)/moderation/page.tsx
Labels: :memo: documentation, :rocket: www

#2004 feat(notices):add legal notices page
  apps/www/app/(main)/(about)/notices/content.md
  apps/www/app/(main)/(about)/notices/page.tsx
Labels: :memo: documentation, :rocket: www

#1991 feat(footer): Move burger menu into footer
  apps/e2e/features/status/page.feature
  apps/www/app/(home)/layout.tsx
  apps/www/app/(main)/navbar.tsx
  apps/www/app/design-system/icons/page.tsx
  apps/www/app/error.tsx
  apps/www/app/global-error.tsx
  apps/www/components/burger/index.tsx
  apps/www/components/shell/AppFooter.server.tsx
  apps/www/components/shell/Footer.tsx
  packages/@1/ui/react/src/icons/HamburgerMenu.tsx
  packages/@1/ui/react/src/icons/index.ts
Labels: :lipstick: ui, :rocket: www, :test_tube: e2e

#2006 feat(who):update who are we page and title
  apps/www/app/(main)/(about)/who/content.md
  apps/www/app/(main)/(about)/who/page.tsx
Labels: :memo: documentation, :rocket: www

#2010 fix(who): sillat was too soon
  apps/www/app/(main)/(about)/who/content.md
Labels: :memo: documentation, :rocket: www

#2008 feat(faq): add real faq to the website
  apps/www/app/(main)/(about)/faq/content.md
  apps/www/app/(main)/(about)/faq/page.tsx
  apps/www/package.json
  pnpm-lock.yaml
Labels: :memo: documentation, :rocket: www

#2012 fix(www): try resolving term access
  apps/e2e/features/legal/page.feature
  apps/www/components/terms/TermAgreement.tsx
Labels: :rocket: www, :test_tube: e2e

#2018 feat(auth): separate api folder
  packages/@1/infra/trpc/package.json
  packages/@1/infra/trpc/src/index.ts
  packages/@1/modules/auth/api/.gitignore
  packages/@1/modules/auth/api/package.json
  packages/@1/modules/auth/api/src/index.ts
  packages/@1/modules/auth/api/src/verify/index.ts
  packages/@1/modules/auth/api/src/verify/verify.e2e.test.ts
  packages/@1/modules/auth/api/tsconfig.json
  pnpm-lock.yaml
  serkels.code-workspace
Labels: scope: auth, scope: trpc, :jar: api

#2021 ci(github): use rharkor/caching-for-turbo
  .github/actions/cache/action.yml
Labels: :construction_worker: CI

#2020 test(e2e): add who page
  .github/workflows/e2e.yaml
  apps/e2e/features/who/page.feature
  apps/www/app/(main)/(about)/who/content.md
Labels: :memo: documentation, :construction_worker: CI, :rocket: www, :test_tube: e2e

#2023 refactor(www): change exchange bookmarks
  apps/www/app/(main)/door/[code]/(private)/bookmarks/exchanges/page.tsx
  packages/@1/infra/trpc/src/index.ts
  packages/@1/modules/auth/api/package.json
Labels: scope: auth, scope: trpc, :jar: api, :rocket: www

#2027 fix(www): wrong path to file
  apps/www/app/(main)/(about)/who/page.tsx
Labels: :bug: bug, :rocket: www

#2019 refactor(www): remove react-nest
  apps/www/.env.development
  apps/www/app/(auth)/signup/(state)/layout.client.tsx
  apps/www/app/(home)/ConnectionPanel.tsx
  apps/www/app/error.tsx
  apps/www/app/layout.client.tsx
  apps/www/package.json
  package.json
  packages/@1/modules/auth/next/src/index.ts
  packages/@1/ui/react/package.json
  packages/@1/ui/react/src/motion/Frame.tsx
  patches/react-nest@0.1.10.patch
  pnpm-lock.yaml
Labels: scope: auth, :lipstick: ui, :rocket: www

#2031 test(e2e): add ask question page
  apps/e2e/cypress/support/step_definitions/general.ts
  apps/e2e/features/forum/ask_question.feature
Labels: :test_tube: e2e

#2032 fix(forum): messy hook flow
  apps/e2e/cypress/support/step_definitions/connexion.ts
  apps/e2e/features/auth/connexion.feature
  apps/e2e/features/forum/ask_question.feature
  apps/e2e/features/partner/about.feature
  apps/e2e/features/status/page.feature
  apps/e2e/features/studient/about.feature
  apps/e2e/features/studient/contacts.feature
  apps/e2e/features/studient/following.feature
  apps/e2e/features/studient/history.feature
  apps/e2e/features/studient/proposals.feature
  apps/e2e/features/studient_inbox/inbox.feature
  apps/e2e/package.json
  apps/www/app/(main)/forum/_client/Create.tsx
Labels: :bug: bug, :rocket: www, :test_tube: e2e

#2037 feat(www): add moderation link in footer
  apps/www/components/shell/Footer.tsx
Labels: :rocket: www

#2036 feat(www): make the footer visible on mobile
  .github/workflows/e2e.yaml
  apps/e2e/features/moderation/page.feature
  apps/www/components/shell/Footer.tsx
  apps/www/components/terms/TermAgreement.tsx
Labels: enhancement, :construction_worker: CI, :rocket: www, :test_tube: e2e

#2035 fix(auth): move signup to auth api
  apps/e2e/package.json
  apps/www/app/(auth)/signup/(state)/layout.client.tsx
  apps/www/app/(auth)/signup/(state)/layout.tsx
  apps/www/app/(auth)/signup/(state)/verifing/page.client.tsx
  apps/www/app/(auth)/signup/(state)/verifing/page.tsx
  apps/www/app/(auth)/signup/student/page.client.tsx
  apps/www/app/(auth)/signup/student/page.tsx
  apps/www/app/(main)/door/[code]/report/action.ts
  apps/www/trpc/root.tsx
  apps/www/widgets/auth/SignUpForm.tsx
  packages/@1/infra/database/package.json
  packages/@1/infra/trpc/package.json
  packages/@1/infra/trpc/src/react-query/client.ts
  packages/@1/modules/auth/api/package.json
  packages/@1/modules/auth/api/src/index.ts
  packages/@1/modules/auth/api/src/signup/index.ts
  packages/@1/modules/auth/api/src/signup/signup.e2e.test.ts
  packages/@1/modules/auth/api/src/signup/signup.ts
  packages/@1/modules/auth/next/src/actions/signup.ts
  packages/@1/modules/profile/domain/src/index.ts
  packages/@1/modules/trpc/src/index.ts
  packages/@1/ui/react/package.json
  packages/@1/ui/react/src/react-query/index.ts
  packages/@1/ui/react/src/zsa/index.ts
  packages/@1/ui/react/src/zsa/react-query.ts
  packages/@1/ui/react/src/zsa/react.ts
  pnpm-lock.yaml
Labels: scope: auth, :lipstick: ui, scope: trpc, :jar: api, :rocket: www, :scroll: domain, scope: profile, :test_tube: e2e

#2044 feat(confidentiality): update contact email
  apps/www/app/(main)/(about)/confidentiality/content.md
Labels: :memo: documentation, :rocket: www

#2046 feat(who): update the who content
  packages/@1/modules/post/api/src/static/who.md
Labels: :memo: documentation, :jar: api

#2048 fix(post): remove duplicate content
  apps/e2e/features/who/page.feature
  apps/www/app/(main)/(about)/who/content.md
  packages/@1/modules/post/api/src/static/index.ts
  packages/@1/modules/post/api/src/static/who.md
Labels: :bug: bug, :memo: documentation, :jar: api, :rocket: www, :test_tube: e2e, scope: post

#2050 fix(post): bold stuff in who page
  apps/www/app/(main)/(about)/who/content.md
Labels: :bug: bug

#2049 feat(faq): update contact email
  apps/www/app/(main)/(about)/faq/content.md
Labels: :memo: documentation, enhancement, :rocket: www

#2052 fix(post): bold stuff in who page again
  apps/www/app/(main)/(about)/who/content.md
Labels: :bug: bug

#2053 fix(who): fix number list
  apps/www/app/(main)/(about)/who/content.md
Labels: :bug: bug, :memo: documentation, :rocket: www

#2057 fix(faq): update contact email
  apps/www/app/(main)/(about)/confidentiality/content.md
  apps/www/app/(main)/(about)/faq/content.md
  apps/www/app/(main)/(about)/who/content.md
Labels: :bug: bug

#2056 fix(www): run npx @next/codemod@canary next-async-request-api
  apps/www/app/(auth)/confirm/[token]/page.tsx
  apps/www/app/(auth)/confirm/[token]/verifing/page.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/[exchange_id]/edit/page.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/@navbar/default.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/[thread_id]/page.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/inbox/[exchange_id]/layout.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/layout.tsx
  apps/www/app/(main)/door/[code]/(private)/exchanges/mine/page.tsx
  apps/www/app/(main)/door/[code]/(private)/inbox/[thread_id]/page.tsx
  apps/www/app/(main)/door/[code]/(private)/inbox/write_to/[profile_id]/page.tsx
  apps/www/app/(main)/door/[code]/(private)/layout.tsx
  apps/www/app/(main)/door/[code]/(private)/opportunities/layout.tsx
  apps/www/app/(main)/door/[code]/(private)/opportunities/mine/page.tsx
  apps/www/app/(main)/door/[code]/(private)/parameters/page.tsx
  apps/www/app/(main)/door/[code]/(public)/(about)/page.tsx
  apps/www/app/(main)/door/[code]/(public)/@header/default.tsx
  apps/www/app/(main)/door/[code]/(public)/@navbar/default.tsx
  apps/www/app/(main)/door/[code]/(public)/contacts/page.tsx
  apps/www/app/(main)/door/[code]/(public)/following/page.tsx
  apps/www/app/(main)/door/[code]/(public)/history/page.tsx
  apps/www/app/(main)/door/[code]/(public)/layout.tsx
  apps/www/app/(main)/door/[code]/(public)/opportunities/page.tsx
  apps/www/app/(main)/door/[code]/(public)/proposals/page.tsx
  apps/www/app/(main)/door/[code]/@navbar/default.tsx
  apps/www/app/(main)/door/[code]/layout.tsx
  apps/www/app/(main)/exchanges/[exchange_id]/layout.tsx
  apps/www/app/(main)/exchanges/[exchange_id]/page.tsx
  apps/www/app/(main)/opportunities/[slug]/page.tsx
  apps/www/pipes/opportunity_slug.ts
  packages/@1/modules/profile/api/src/me/added_by/find.e2e.test.ts
Labels: :bug: bug, :jar: api, :rocket: www, scope: profile

#2058 feat(www): rename UEE to SILLAT
  apps/e2e/features/legal/page.feature
  apps/www/app/(main)/(about)/confidentiality/content.md
  apps/www/app/(main)/(about)/legal/content.md
  apps/www/app/(main)/(about)/moderation/content.md
  apps/www/app/(main)/(about)/notices/content.md
  apps/www/app/(main)/guide/page.tsx
Labels: :memo: documentation, enhancement, :rocket: www, :test_tube: e2e

#2096 fix(www): stacked user button on desktop
  apps/www/app/(main)/navbar.tsx
Labels: :rocket: www
