Repository Serkels/serkels.eu, pull requests merged in 2025-01, with the labels that each got.

#2164 feat(www): update who page content
  apps/www/app/(main)/(about)/who/content.md
  apps/www/app/(main)/(about)/who/page.tsx
  apps/www/public/da-thing-people_g749.svg
  apps/www/public/da-thing_g748.svg
  apps/www/public/discussions_g741.svg
  apps/www/public/exchanges_g634.svg
  apps/www/public/opportunities_g750.svg
  apps/www/public/who-people_g747.svg
  apps/www/public/why_g452.svg
Labels: :memo: documentation, :rocket: www

#2172 fix(opportunity): remove special char from slug
  apps/e2e/features/opportunity/create_opportunity.feature
  packages/@1/modules/opportunity/api/src/create.ts
  packages/@1/modules/opportunity/api/src/create/__snapshots__/create.e2e.test.ts.snap
  packages/@1/modules/opportunity/api/src/create/create.e2e.test.ts
  packages/@1/modules/opportunity/api/src/create/create.ts
  packages/@1/modules/opportunity/api/src/create/index.ts
  packages/@1/modules/opportunity/api/src/index.ts
  packages/@1/modules/opportunity/ui/src/form/edit.tsx
  packages/@1/modules/trpc/src/testing/index.ts
Labels: :bug: bug, :lipstick: ui, scope: trpc, :jar: api, :test_tube: e2e

#2184 fix(www): multi line footer links
  apps/www/app/(main)/layout.tsx
  apps/www/components/shell/Footer.tsx
  packages/@1/ui/react/src/grid/index.tsx
Labels: :lipstick: ui, :rocket: www

#2189 fix(www): mb was my bad
  apps/www/components/shell/Footer.tsx
  packages/@1/ui/react/src/grid/index.tsx
Labels: :lipstick: ui, :rocket: www
